<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Example Pdf</title>
    <style>
      h3 {
        text-align: center;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h3>{{ .Title }}</h3>
    <p>{{.Description}}</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Content }}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Price}}</td>
          <td>{{.Stock}}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>
